<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>finalwork</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Intro</display-name>
    <servlet-name>Intro</servlet-name>
    <servlet-class>beforelogin.index.Intro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Intro</servlet-name>
    <url-pattern>/Intro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>beforelogin.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uinfo</display-name>
    <servlet-name>Uinfo</servlet-name>
    <servlet-class>user.uinfo.Uinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uinfo</servlet-name>
    <url-pattern>/Uinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Allmes</display-name>
    <servlet-name>Allmes</servlet-name>
    <servlet-class>user.uinfo.Allmes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Allmes</servlet-name>
    <url-pattern>/Allmes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Notices</display-name>
    <servlet-name>Notices</servlet-name>
    <servlet-class>user.uinfo.Notices</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notices</servlet-name>
    <url-pattern>/Notices</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetDone</display-name>
    <servlet-name>SetDone</servlet-name>
    <servlet-class>user.uinfo.SetDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDone</servlet-name>
    <url-pattern>/SetDone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrgName</display-name>
    <servlet-name>OrgName</servlet-name>
    <servlet-class>user.uinfo.OrgName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgName</servlet-name>
    <url-pattern>/OrgName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attend</display-name>
    <servlet-name>Attend</servlet-name>
    <servlet-class>user.uinfo.Attend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attend</servlet-name>
    <url-pattern>/Attend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uexit</display-name>
    <servlet-name>Uexit</servlet-name>
    <servlet-class>user.uinfo.Uexit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uexit</servlet-name>
    <url-pattern>/Uexit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ainfo</display-name>
    <servlet-name>Ainfo</servlet-name>
    <servlet-class>admin.ainfo.Ainfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ainfo</servlet-name>
    <url-pattern>/Ainfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Publish</display-name>
    <servlet-name>Publish</servlet-name>
    <servlet-class>admin.ainfo.Publish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Publish</servlet-name>
    <url-pattern>/Publish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nobj</display-name>
    <servlet-name>Nobj</servlet-name>
    <servlet-class>admin.ainfo.Nobj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nobj</servlet-name>
    <url-pattern>/Nobj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manage</display-name>
    <servlet-name>Manage</servlet-name>
    <servlet-class>admin.ainfo.Manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manage</servlet-name>
    <url-pattern>/Manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Isagree</display-name>
    <servlet-name>Isagree</servlet-name>
    <servlet-class>admin.ainfo.Isagree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Isagree</servlet-name>
    <url-pattern>/Isagree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>admin.ainfo.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Previous</display-name>
    <servlet-name>Previous</servlet-name>
    <servlet-class>admin.ainfo.Previous</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Previous</servlet-name>
    <url-pattern>/Previous</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aexit</display-name>
    <servlet-name>Aexit</servlet-name>
    <servlet-class>admin.ainfo.Aexit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aexit</servlet-name>
    <url-pattern>/Aexit</url-pattern>
  </servlet-mapping>
</web-app>